<%- include('./partials/header.ejs') %> <!-- Importando o cabeçalho da página, HEADER -->
<body>
    <%- include('./partials/navbar.ejs') %> <!-- Importando o navbar da página, NAVBAR -->
    
</body>
<%- include ('./partials/footer.ejs') %>  <!-- Importando o footer da página, FOOTER -->