<%- include('./partials/header.ejs') %> <!-- Importando o cabeçalho da página, HEADER -->
<body>
    <div class="container">
        <h1>Testando o view engine</h1>
    </div>
</body>
<%- include ('./partials/footer.ejs') %>  <!-- Importando o footer da página, FOOTER -->